{% for item in slide.media.all() %}
	{% if item.kind == "image" %}
		<div class="media" style="height: 100%; background-image: url({{ item.url }});"></div>
	{% endif %}
	{% if item.kind == "video" %}
		<video src="{{ item.url }}"></video>
	{% endif %}
{% endfor %}
