<div class="slide" style="background-color: {{ slide.backgroundColor }};">
	<div class="spacer-vert"></div>
	<div class="inner">
		<div class="spacer-hor"></div>
		<div class="text-content">{{ slide.text }}</div>
	</div>
	<div class="spacer-vert"></div>
</div>
