html,
body,
swiper-container,
swiper-slide,
.swiper,
.swiper-wrapper,
.swiper-container,
.swiper-slide,
slot,
.slide {
  margin: 0;
  height: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
}

.spacer-vert {
  flex-grow: 1;
}

.spacer-hor {
  flex-grow: 1;
}

